- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "notify alert alert-#{name == :notice ? "success" : "error"}"}
      =content_tag :div, msg.html_safe, :id => "flash_#{name}"

%div#header
  %div#headerInner
    %h1
      %a{href: "/"}
        %img{alt: "人狼イベントカレンダー", src: asset_path("logo.png")}
%div#wrapper
  %div.container
    %div#cal
    %div#eventList
      %h2
        %i.fa.fa-calendar
          %span#date_val 今月のイベント
      %div#search-cond-container
        %span.title 現在の絞込条件（and検索）:
        %span.content なし
      %div#no-event-message-container.hidden
        %h2.muted この日は条件に合致するイベントがないです
      %ul
        - @events.each do |event|
          %li.hidden{:"class" => "ed-#{event.start_at.strftime('%Y-%m-%d')}", :"data-id" => event.id, :"data-icon-type" => icon_type(event.url), :"data-filtered" => "false", :"data-price-range-ids" => price_range_ids(event.price), :"data-pref-id" => event.prefecture.id, :"data-weekday-flg" => event.cat_weekday_flg.to_s, :"data-holiday-flg" => event.cat_holiday_flg.to_s, :"data-allnight-flg" => event.cat_allnight_flg.to_s, :"data-beginner-flg" => event.cat_beginner_flg.to_s, :"data-pro-flg" => event.cat_pro_flg.to_s }
            %a.eventDetail{:href => "#event-#{event.id}"}
              %img{src: asset_path("icon-#{icon_type(event.url)}.png")}>/
              =event.title
              %span
                =event.prefecture.name
                =simple_datetime(event.start_at)
                -if event.end_at.present?
                  ="~"
                  =simple_datetime(event.end_at)
      %p.text_right
        %a.aboutBtn{href: "#aboutBox"}
          %i.fa.fa-question>
          \人狼イベントカレンダーとは？
    %div
    - # イベント詳細部
    %div.displayNone
      - @events.each do |event|
        %div.eventDetailBox{id: "event-#{event.id}"}
          %h2
            %span.muted="[ID: #{event.id}]"
            %span イベント詳細
          %p.eventTitle
            %img{src: asset_path("icon-#{icon_type(event.url)}.png")}>/
            =event.title
          %div.date=simple_date(event.start_at)
          %div
            %h3
              %i.fa.fa-building-o
              会場
            =event.place
          %div
            %h3
              %i.fa.fa-map-marker
              住所
            =event.address
          %div
            %h3
              %i.fa.fa-jpy
              料金
            =event.price
            円
          %div
            %h3
              %i.fa.fa-users
              定員
            =event.capacity
          %div
            %h3
              %i.fa.fa-star
              カテゴリ
            =str_categories(event)
          %p
            - if my_event?(event)
              %a.editBtn{href: edit_event_path(event)}
                %i.fa.fa-pencil>
                \編集
              %a.editBtn{href: event_path(event), :"data-method" => :delete, :"data-confirm" => "削除してもよろしいですか？"}
                %i.fa.fa-pencil>
                \削除

          %a.toEvent{href: event.url, target: "_blank"} イベントの詳細を見る

      #aboutBox
        %h2 人狼イベントカレンダーについて
        %p 人狼イベントを探す、教える、告知する。人狼のイベントを見逃さない為の「人狼イベントカレンダー」です。
        %p 「今週末どこかで人狼イベントやってないかな？」「こんなイベントやってたのか！行きたかった！悔しい！」「人狼やりたいけど人集まらないしなー」などの問題を解決します。
        %p イベントは誰でも登録できます。掲載されているイベントを削除したい場合は、お手数ですが<a href="http://jinraw.com/contact">こちら</a>から連絡お願いします。
        %p.m20 運営会社：<a href="http://jinraw.com">株式会社人狼</a>
      #searchBox
        %h2
          %i.fa.fa-search>
          \条件で絞り込む
        %h3
          %i.fa.fa-map-marker>
          \地域でしぼりこみ
        %select#js-filter-pref-id{lang: "ja"}
          %option{value: "na"} 全国
          - Prefecture.all.each do |pref|
            %option{value: pref.id}=pref.name
        %h3
          %i.fa.fa-jpy>
          \参加費でしぼりこみ
        %select#js-filter-price-range-id{lang: "ja"}
          %option{value: "na"} 参加費問わず
          - PriceRange.all.each do |pr|
            %option{value: pr.id}=pr.name
        %h3
          %i.fa.fa-search-plus>
          \その他の条件でしぼりこみ
        - t_event = I18n.t("activerecord.attributes.event")
        %label
          %input#js-filter-beginner-flg{type: "checkbox", value: "1"}/
          =t_event[:cat_beginner_flg]
        \
        %label
          %input#js-filter-pro-flg{type: "checkbox", value: "1"}/
          =t_event[:cat_pro_flg]
        \
        %label
          %input#js-filter-weekday-flg{type: "checkbox", value: "1"}/
          =t_event[:cat_weekday_flg]
        \
        %label
          %input#js-filter-holiday-flg{type: "checkbox", value: "1"}/
          =t_event[:cat_holyday_flg]
        \
        %label
          %input#js-filter-allnight-flg{type: "checkbox", value: "1"}/
          =t_event[:cat_allnight_flg]
        .clear
        %button#js-do-filter{type: "submit"} この条件で絞り込む

      #addEvent
        =render :partial => "events/new_form", :locals => {:new_event => new_event}
#footer
  #footerInner
    %ul
      %li.menuLeft
        %a.searchBtn{href: "#searchBox"}
          %i.fa.fa-search>
          \条件で絞り込む
      %li.menuRight
        %a.addEventBtn{href: "#addEvent"}
          %i.fa.fa-arrow-circle-o-up>
          \イベントを投稿