%div#header
  %div#headerInner
    %h1
      %a{href: "/"}
        %img{alt: "人狼イベントカレンダー", src: asset_path("logo.png")}
%div#wrapper
  %div.container
    %div#cal
    %div#eventList
      %h2
        %i.fa.fa-calendar
          %span#date_val 今月のイベント
      %div#search-cond-container
        全国/~1000円/初心者OK/土日・祝日開催
      %ul
        - @events.each do |event|
          %li.hidden{:"class" => "ed-#{event.start_at.strftime('%Y-%m-%d')}", :"data-id" => event.id, :"data-icon-type" => icon_type(event.url)}
            %a.eventDetail{:href => "#event-#{event.id}"}
              %img{src: asset_path("icon-#{icon_type(event.url)}.png")}>/
              =event.title
              %span
                =event.prefecture.name
                =simple_datetime(event.start_at)
                -if event.end_at.present?
                  ="~"
                  =simple_datetime(event.end_at)
      %p.text_right
        %a.aboutBtn{href: "#aboutBox"}
          %i.fa.fa-question>
          \人狼イベントカレンダーとは？
    %div
    %div.displayNone
      - @events.each do |event|
        %div.eventDetailBox{id: "event-#{event.id}"}
          %h2
            %span.muted="[ID: #{event.id}]"
            %span イベント詳細
          %p.eventTitle
            %img.favicon{src: "http://getsocialostrich.com/img/facebook_favicon.png"}>/
            =event.title
          %div.date=event.start_at
          %h3
            %i.fa.fa-building-o
            会場
          =event.place
          %h3
            %i.fa.fa-map-marker
            住所
          =event.address
          %h3
            %i.fa.fa-jpy
            料金
          =event.price
          円
          %h3
            %i.fa.fa-users
            定員
          =event.capacity
          人
          %p
            %a.editBtn{href: "#"}
              %i.fa.fa-pencil>
              \編集
          %a.toEvent{href: event.url, target: "_blank"} イベントの詳細を見る

      #aboutBox
        %h2 人狼イベントカレンダーについて
        %p 人狼イベントを探す、教える、告知する。人狼のイベントを見逃さない為の「人狼イベントカレンダー」です。
        %p 「今週末どこかで人狼イベントやってないかな？」「こんなイベントやってたのか！行きたかった！悔しい！」「人狼やりたいけど人集まらないしなー」などの問題を解決します。
        %p イベントは誰でも登録できます。掲載されているイベントを削除したい場合は、お手数ですが<a href="http://jinraw.com/contact">こちら</a>から連絡お願いします。
        %p.m20 運営会社：<a href="http://jinraw.com">株式会社人狼</a>
      #searchBox
        %h2
          %i.fa.fa-search>
          \条件で絞り込む
        %h3
          %i.fa.fa-map-marker>
          \地域でしぼりこみ
        %select{lang: "ja"}
          %option{value: "null"} 未選択
          - Prefecture.all.each do |pref|
            %option{value: pref.id}=pref.name
        %h3
          %i.fa.fa-jpy>
          \値段でしぼりこみ
        %select{lang: "ja"}
          %option{value: "null"} 未選択
          %option{value: "0"} 無料
          %option{value: "<=1000"} 〜1000円
          %option{value: "<=2000"} 〜2000円
          %option{value: "<=3000"} 〜3000円
          %option{value: "3001<="} 3001円〜
        %h3
          %i.fa.fa-search-plus>
          \その他の条件でしぼりこみ
        %label
          %input{name: "etc", type: "checkbox", value: "bigginer"}/
          \初心者OK
        \
        %label
          %input{name: "etc", type: "checkbox", value: "pro"}/
          \玄人向け
        \
        %label
          %input{name: "etc", type: "checkbox", value: "allnight"}/
          \平日開催
        \
        %label
          %input{name: "etc", type: "checkbox", value: "allnight"}/
          \土日・祝日開催
        \
        %label
          %input{name: "etc", type: "checkbox", value: "allnight"}/
          \オールナイト
        .clear
        %button{type: "submit"} この条件で絞り込む

      #addEvent
        =render :partial => "events/new_form", :locals => {:new_event => new_event}
#footer
  #footerInner
    %ul
      %li.menuLeft
        %a.searchBtn{href: "#searchBox"}
          %i.fa.fa-search>
          \条件で絞り込む
      %li.menuRight
        %a.addEventBtn{href: "#addEvent"}
          %i.fa.fa-arrow-circle-o-up>
          \イベントを投稿