.event-form-container
  .notice= notice
  - t = I18n.t("activerecord.attributes.event")
  = simple_form_for event, :remote => true, :'data-type' => :html do |f|
    = f.input :url, label: fa_tag("fa-link") + t[:url]
    = f.input :title, label: fa_tag("fa-bell") + t[:title]
    = f.input :start_at, label: fa_tag("fa-clock-o") + t[:start_at], as: :datetime_local
    = f.input :end_at, label: fa_tag("fa-clock-o") + t[:end_at], as: :datetime_local
    = f.input :place, label: fa_tag("fa-building-o") + t[:place]
    = f.input :address, label: fa_tag("fa-map-marker") + t[:address]
    = f.input :price, label: fa_tag("fa-jpy") + t[:price]
    = f.input :capacity, label: fa_tag("fa-users") + t[:capacity]
    = f.button :submit
