.event-form-container
  - t_ar = I18n.t("activerecord.attributes.event")
  - t_sf = I18n.t("simple_form.labels.event")
  = simple_form_for event do |f|
    = f.input :url, label: fa_tag("fa-link") + t_ar[:url]
    = f.input :title, label: fa_tag("fa-bell") + t_ar[:title]
    = f.input :start_at, label: fa_tag("fa-clock-o") + t_ar[:start_at], as: :datetime_local, input_html: {step: 300}
    = f.input :end_at, label: fa_tag("fa-clock-o") + t_ar[:end_at], as: :datetime_local, input_html: {step: 300}
    = f.input :place, label: fa_tag("fa-building-o") + t_ar[:place]
    = f.input :address, label: fa_tag("fa-map-marker") + t_ar[:address] do
      = f.association :prefecture, collection: Prefecture.all, label: false, selected: event.prefecture_id.presence || Prefecture.where(name: "東京都").first.id
      = f.input :address, label: false
    = f.input :price, label: fa_tag("fa-jpy") + t_ar[:price], input_html: {step: 100}
    = f.input :capacity, label: fa_tag("fa-users") + t_ar[:capacity]
    = f.input :categories, label: fa_tag("fa-star") + t_sf[:categories] do
      = f.input :cat_beginner_flg, wrapper_html: { class: 'inline right-margin' }
      = f.input :cat_pro_flg, wrapper_html: { class: 'inline right-margin' }
    = f.button :submit
