%h1 Listing events

%table
  %tr
    %th Url
    %th Event date
    %th Title
    %th Place
    %th Address
    %th Price
    %th Capacity
    %th Description
    %th Session ID
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.url
      %td= event.event_date
      %td= event.title
      %td= event.place
      %td= event.address
      %td= event.price
      %td= event.capacity
      %td= event.description
      %td= event.session_id
      %td= link_to 'Show', event
      %td
        -if my_event?(event)
          = link_to 'Edit', edit_event_path(event)
        -else
          -
      %td
        -if my_event?(event)
          = link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }
        -else
          -
%br

= link_to 'New Event', new_event_path
