%p#notice= notice

%p
  %b Url:
  = @event.url
%p
  %b Pref:
  = @event.prefecture.name
%p
  %b Event start at:
  = @event.start_at
%p
  %b Event end at:
  = @event.end_at
%p
  %b Title:
  = @event.title
%p
  %b Place:
  = @event.place
%p
  %b Address:
  = @event.address
%p
  %b Price:
  = @event.price
%p
  %b Capacity:
  = @event.capacity
