<!DOCTYPE html>
<html>
<head>
  <title>人狼イベントカレンダー</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


  <meta name="description" content="人狼イベントを探す、教える、告知する。人狼のイベントを見逃さない為の「人狼イベントカレンダー」です。「今週末どこかで人狼イベントやってないかな？」「こんなイベントやってたのか！行きたかった！悔しい！」「人狼やりたいけど人集まらないしなー」などの問題を解決します。イベントは誰でも登録できます。" />
  <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />

  <meta property="og:title" content="人狼イベントカレンダー" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content='<%= "#{request.protocol}#{request.host_with_port}" %>' />
  <meta property="og:image" content='<%= "#{request.protocol}#{request.host_with_port}#{asset_path('ogp-image.png')}" %>' />

  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
  <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon.png') %>">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>



</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= yield %>

</body>
</html>
